@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import "../scss/variables";
@import "../scss/layout";
@import "../scss/buttons";

a:link,
a:visited,
a:hover,
a:active {
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

body {
  color: $white;
  font-family: $sans-font;
  line-height: 2rem;
  background-color: $main-color;
}

.social {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  img {
    padding: 0.5rem;
  }
}

.explore {
  position: absolute;
  top: 50%;
  left: 9%;

  h2 {
    font-family: $serif-font;
    font-size: 13rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1.5rem;
    font-family: $sans-font;
    color: $white;
    position: relative;
    left: 2.5rem;
    top: -1rem;
    cursor: pointer;

    img {
      padding-right: 1rem;
    }
  }
}

.content {
  background-color: $white;
  color: $dark-grey;
  position: absolute;
  left: 9%;
  top: 25%;
  padding: 4rem;
  max-width: 37rem;
  overflow: hidden;

  h2 {
    color: $main-color;
    font-family: $serif-font;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;

  }

  h2:after {
    content: "";
    background: linear-gradient( to right, rgb(161, 101, 82, .9), rgb(161, 101, 82, .0) 70%);
    display: block;
    height: 2px;
    width: 500px;
    bottom: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  button {
    color: $white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.8rem 4.5rem;
    margin-top: 2rem;
    background: linear-gradient( to right, $main-color, $light-brown);
  }
}
