@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import "../scss/variables";
@import "../scss/layout";


a:link,
a:visited,
a:hover,
a:active {
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

body {
  color: $white;
  font-family: $sans-font;
  line-height: 2rem;
  background-color: $main-color;
}


.explore {
  position: absolute;
  top: 50%;
  left: 9%;

  h2 {
    font-family: $serif-font;
    font-size: 13rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1.5rem;
    font-family: $sans-font;
    color: $white;
    position: relative;
    left: 2.5rem;
    top: -1rem;
    cursor: pointer;

    img {
      padding-right: 1rem;
    }
  }
}
