@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap");
@import "../scss/variables";
@import "../scss/layout";

a:link,
a:visited,
a:hover,
a:active {
  color: $white;
  cursor: pointer;
  text-decoration: none;
}

body {
  color: $white;
  font-family: $sans-font;
  line-height: 2rem;
  background-color: $main-color;
}

.social {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding: 2rem;
  display: flex;
  flex-direction: column;

  img {
    padding: 0.5rem;
  }
}

.explore {
  position: absolute;
  top: 50%;
  left: 9%;
  opacity: 1;
  transition: opacity 1s;

  h2 {
    font-family: $serif-font;
    font-size: 12rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
  }

  p {
    font-size: 1.5rem;
    font-family: $sans-font;
    color: $white;
    position: relative;
    left: 2.5rem;
    top: -1rem;
    cursor: pointer;

    img {
      padding-right: 1rem;
    }
  }
}

.hide-explore {
  position: absolute;
  top: 50%;
  left: 9%;
  opacity: 0;
  transition: opacity 1s;
}

.content {
  border-radius: 50%;
  width: 0;
  height: 0;
  background-color: $white;
  color: $dark-grey;
  position: absolute;
  left: 12%;
  top: 76%;
  padding: 0rem;
  max-width: 42rem;
  overflow: hidden;
  transform-origin: bottom right;
  transition: padding 0.5s, width 0.5s, border-radius 0.5s;
}

.show-menu {
  background-color: $white;
  color: $dark-grey;
  position: absolute;
  left: 9%;
  top: 15%;
  padding: 4rem;
  max-width: 38rem;
  transform-origin: bottom right;
  transition: padding 0.5s, width 0.5s, border-radius 0.5s;

  .close-icon {
    position: absolute;
    right: 1.2rem;
    top: 1.2rem;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
  }
  .close-icon:before,
  .close-icon:after {
    position: absolute;
    // left: -1rem;
    content: " ";
    height: 2rem;
    width: 3px;
    background-color: $main-color;
  }
  .close-icon:before {
    transform: rotate(45deg);
  }
  .close-icon:after {
    transform: rotate(-45deg);
  }

  h2 {
    color: $main-color;
    font-family: $serif-font;
    font-size: 5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
  }

  h2:after {
    content: "";
    background: linear-gradient(
      to right,
      rgb(161, 101, 82, 0.9),
      rgb(161, 101, 82, 0) 70%
    );
    display: block;
    height: 2px;
    width: 500px;
    bottom: 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  button {
    color: $white;
    border: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 0.8rem 4.5rem;
    margin-top: 2rem;
    background: linear-gradient(to right, $main-color, $light-brown);
  }
}
